.newProjectPage h1 {margin-left: 10px;}
.newProjectPage .projectInputForm {width: 263px; margin-left: 20px;}
.newProjectPage .projectInputForm label {display: inline-table;	width: 250px; margin: 0;}
.newProjectPage .projectInputForm label span{color: red;}
.newProjectPage .projectInputForm input,.newProjectPage .projectInputForm textarea {width: 250px;margin: 3px 0 10px 0;}
.newProjectPage .projectInputForm button {margin: 0;float:right}
.newProjectPage .projectInputForm textarea#projectDescriptionInput {height:70px; overflow:auto;}
.newProjectPage .validationMessage {color: red;margin-bottom: 10px;}
.projectFrontPage .projectMetadata {width: 300px;}
.projectFrontPage .projectMetadata table { width: 100%; margin-bottom: 10px;}
.projectFrontPage .projectMetadata table td{ padding: 3px;}
.projectFrontPage .projectMetadata table tr td:first-child{ width: 120px;}
.projectFrontPage .projectMetadata table tr:nth-child(odd) td{background-color: rgba( 239,239,239,0.78 );}
.projectFrontPage .missingMetadataWarning { display: none; margin: 10px 0 10px 0; color: red;}
.projectFrontPage .projectMetadata #editPageMetaLink, .projectFrontPage .projectMetadata #editPageMetaLink:visited, .projectFrontPage .projectMetadata #editPageMetaLink:active {color: #666;font-size:0.9em;text-decoration:none;}