.validationMessage {
  color: red;
}
.newProjectPage h1 {
  margin-left: 10px;
  display: none;
}
.newProjectPage .validationMessage {
  color: red;
  margin-bottom: 10px;
}
.newProjectPage .projectInputForm {
  width: 263px;
  margin-left: 20px;
}
.newProjectPage .projectInputForm label {
  display: inline-table;
  width: 260px;
  margin: 0;
  word-break: break-all;
}
.newProjectPage .projectInputForm input,
.newProjectPage .projectInputForm textarea {
  width: 250px;
  margin: 3px 0 10px;
}
.newProjectPage .projectInputForm button {
  float: right;
  margin: 0;
}
.newProjectPage .projectInputForm textarea#projectDescriptionInput {
  height: 70px;
  overflow: auto;
}
.projectFrontPage {
  width: 100%;
}
.projectFrontPage > tbody > tr > td:first-child {
  min-width: 640px;
}
.projectFrontPage .rightColumnStatic {
  display: none;
}
.projectFrontPage .missingMetadataWarning {
  display: none;
  color: red;
  margin: 10px 0;
}
.projectFrontPage .projectMetadata {
  width: 300px;
  margin-bottom: 20px;
}
.projectFrontPage .projectMetadata table {
  width: 100%;
  margin-bottom: 10px;
}
.projectFrontPage .projectMetadata table td {
  padding: 3px;
}
.projectFrontPage .projectMetadata table tr td:first-child {
  width: 120px;
}
.projectFrontPage .projectMetadata a#editPageMetaLink,
.projectFrontPage .projectMetadata a#editPageMetaLink:visited,
.projectFrontPage .projectMetadata a#editPageMetaLink:active {
  color: #666;
  font-size: .9em;
  text-decoration: none;
}
ul.gt-List {
  list-style-type: none;
  padding-left: 0;
}
ul.gt-List .gt-projectItem {
  display: block;
  margin-bottom: 20px;
}
ul.gt-List .new.gt-projectItem {
  display: block;
  margin-bottom: 10px;
}
ul.gt-List .new.gt-projectItem .gt-phaseIcon {
  margin-right: 20px;
}
#gtcopylistelements .gtelementform {
  max-width: 800px;
}
#gtcopylistelements .gtelementform .gtbuttons {
  float: right;
  margin: 20px 0 20px 0;
}
#gtcopylistelements .gtelementform table.gtelements {
  border: none;
  width: 100%;
}
#gtcopylistelements .gtelementform table.gtelements tr th {
  font-weight: 500;
}
#gtcopylistelements .gtelementform table.gtelements tr th,
#gtcopylistelements .gtelementform table.gtelements tr td {
  max-width: 450px;
  line-height: 2em;
  font-size: 1em;
  text-align: left;
  vertical-align: top;
  padding: 5px;
}
#gtcopylistelements .gtelementform table.gtelements tr td.ms-ChoiceField .ms-ChoiceField-field {
  margin-top: 0;
  width: 100%;
}
#gtcopylistelements .gtelementform table.gtelements tr td.ms-ChoiceField.title-field .ms-Label {
  padding: 0;
}
#gtcopylistelements .gtelementform table.gtelements tr td.ms-ChoiceField.title-field .ms-ChoiceField-field:after {
  display: none;
}
#gtcopylistelements .gtelementform table.gtelements tr td.ms-ChoiceField.check-field .ms-ChoiceField-field:after {
  border-radius: 0;
  left: 5px;
  top: 5px;
}
#gtcopylistelements .gtelementform table.gtelements tr td.ms-ChoiceField.check-field .ms-ChoiceField-input[type=checkbox]:checked + .ms-ChoiceField-field:before {
  top: 9px;
  left: 9px;
}
.gt-list-control .clear-search {
  cursor: pointer;
}
.gt-list-control .clear-search:hover {
  text-decoration: underline;
}
.gt-list-control ul#Paging {
  display: block;
  list-style-type: none;
  margin: 5px 0 5px 0;
  padding: 0;
}
.gt-list-control ul#Paging li {
  display: inline-block;
  margin-right: 10px;
}
.loadingSpinner {
  vertical-align: top;
  margin: 15px;
}
.gt-result-table {
  width: 99%;
  border-collapse: collapse;
  padding: 4px;
  text-align: left;
}
.gt-result-table tr th {
  font-weight: normal;
  font-size: 0.95em;
  color: #777777;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 5px 4px;
}
.gt-result-table td,
.gt-result-table th {
  padding: 4px;
  text-align: left;
}
.gt-result-table .status-red {
  background-color: #cc6666;
  background-color: rgba(255, 75, 77, 0.4);
}
.gt-result-table .status-yellow {
  background-color: #f0e68c;
  background-color: rgba(240, 230, 140, 0.8);
}
.gt-result-table .status-green {
  background-color: #99cc66;
  background-color: rgba(0, 150, 0, 0.4);
}
.gt-phaseIcon {
  display: block;
  width: 92px;
  height: 62px;
  float: left;
}
.gt-phaseIcon .phaseLetter {
  display: block;
  font-size: 33px;
  text-align: center;
}
.gt-phaseIcon .projectPhase {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.designmode .projectFrontPage .projectPhaseSection {
  display: none;
}
.projectFrontPage .projectPhaseSection {
  width: 100%;
}
.projectFrontPage .projectPhaseSection .projectPhaseHeading {
  display: block;
  width: 100%;
  float: left;
}
.projectFrontPage .projectPhaseSection h2.gt-phaseHeading {
  width: 137px;
  float: left;
  margin: 0 10px 10px 0;
  text-overflow: initial;
}
.projectFrontPage .projectPhaseSection a#changeProjectPhaseLink {
  float: left;
  display: none;
  border: 1px solid #ccc;
  text-transform: none;
  text-decoration: none;
  padding: 5px;
}
.projectFrontPage .projectPhaseSection ul.projectPhases {
  width: 96%;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  list-style-type: square;
  overflow: visible;
  clear: both;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li {
  width: auto;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 0 10px 0;
  text-decoration: none;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li > a,
.projectFrontPage .projectPhaseSection ul.projectPhases > li > a:visited {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #333;
  overflow: hidden;
  display: block;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .gt-phaseIcon {
  position: relative;
  width: 100%;
  height: auto;
  float: none;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .projectPhase {
  width: 68%;
  text-align: left;
  float: left;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 15px;
  color: #339933;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .checklistStats {
  opacity: 0;
  transition: opacity 0s ease-in-out;
  -moz-transition: opacity 0s ease-in-out;
  -webkit-transition: opacity 0s ease-in-out;
  position: absolute;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .checklistStats h3 {
  color: #eee;
  padding-bottom: 5px;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .checklistStats ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .checklistStats ul li {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  list-style-type: none;
  list-style: none;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .checklistStats ul li a {
  color: #eee;
  text-decoration: none;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .phaseSubText {
  width: 68%;
  font-size: 0.7rem;
  text-transform: none;
  text-align: left;
  display: block;
  float: left;
  color: #333;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .phaseLetter {
  border-radius: 1000px;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: block;
  margin: 10px 10px 0 0;
  float: left;
  text-align: center;
  z-index: 100;
  line-height: 38px;
  font-size: 1.4rem;
  vertical-align: middle;
  border: 1px solid #339933;
  color: #339933;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li:before,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:after {
  display: block;
  position: absolute;
  top: 37px;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #0072c6;
  z-index: 2;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li:before {
  left: 0;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li :after {
  right: 0;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .gt-phaseIcon:before,
.projectFrontPage .projectPhaseSection ul.projectPhases > li .gt-phaseIcon:after {
  display: block;
  position: absolute;
  top: 33px;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #339933;
  z-index: 2;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .gt-phaseIcon:before {
  left: 0;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li .gt-phaseIcon:after {
  right: 0;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li:hover .phaseLetter {
  border: 1px solid #666;
  background-color: #333;
  color: #fff;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.selected .projectPhase {
  font-weight: 600;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.selected .gt-phaseIcon:before,
.projectFrontPage .projectPhaseSection ul.projectPhases > li.selected .gt-phaseIcon:after {
  height: 2px;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.selected .phaseLetter {
  border: 1px solid #339933;
  background-color: #339933;
  color: #fff;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.selected:hover .phaseLetter {
  border: 1px solid #666;
  background-color: #333;
  color: #fff;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.last-phase .projectPhase,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:first-child .projectPhase {
  color: #0072c6;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.last-phase .gt-phaseIcon:before,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:first-child .gt-phaseIcon:before,
.projectFrontPage .projectPhaseSection ul.projectPhases > li.last-phase .gt-phaseIcon:after,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:first-child .gt-phaseIcon:after {
  background-color: none;
  height: 0;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.last-phase .phaseLetter,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:first-child .phaseLetter {
  color: #0072c6;
  border: 1px solid #0072c6;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.last-phase.selected .phaseLetter,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:first-child.selected .phaseLetter {
  background-color: #0072c6;
  color: #fff;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li.last-phase:hover .phaseLetter,
.projectFrontPage .projectPhaseSection ul.projectPhases > li:first-child:hover .phaseLetter {
  border: 1px solid #666;
  background-color: #333;
  color: #fff;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li:hover .checklistStats {
  display: block;
  position: absolute;
  top: 100%;
  margin-left: -7px;
  margin-top: -1px;
  z-index: 15;
  background: rgba(50, 50, 50, 0.95);
  padding: 15px;
  border: 0px solid #ccc;
  box-shadow: 3px 8px 15px #999;
  color: #eee;
  width: 250px;
  border-radius: 2px;
  overflow: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition-delay: .1s;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li:hover .checklistStats:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 200;
}
.projectFrontPage .projectPhaseSection ul.projectPhases > li:hover .checklistStats:after {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 200;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: rgba(51, 51, 51, 0.95);
  border-width: 12px;
  margin-left: -12px;
}
#gtloglist {
  max-width: 700px;
}
#gtloglist h2 {
  margin-bottom: 10px;
}
#gtloglist table tr th {
  font-weight: normal;
  font-size: 0.85em;
  color: #777777;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 5px;
}
#gtloglist table tr td {
  padding: 5px;
}
#gtchecklist {
  width: 514px;
}
#gtchecklist ul {
  padding-left: 10px;
}
#gtchecklist li {
  list-style: none;
  margin-bottom: 10px;
}
#gtchecklist li a {
  line-height: 20px;
  display: block;
  color: #444;
}
#gtchecklist li a .gt-checklist-title {
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.gt-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 5px;
  vertical-align: top;
}
.gt-icon:after {
  font-size: 13px;
  padding-left: auto;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 1px;
  display: inline-block;
  color: white;
}
.gt-icon.gt-completed {
  background-color: green;
}
.gt-icon.gt-completed:after {
  content: "\2713 ";
}
.gt-icon.gt-ignored {
  background-color: #E8C900;
}
.gt-icon.gt-ignored:after {
  content: "\2713 ";
}
.gt-icon.gt-failed {
  background-color: red;
}
.gt-icon.gt-failed:after {
  content: "\2717";
  margin-top: 0;
}
.gt-icon.gt-nostatus {
  background-color: gray;
}
.gt-icon.gt-nostatus:after {
  content: "?";
  font-weight: bold;
  margin: 0 0 0 7px;
}